/* navvar styles */
.navvar{
    display: flex;
    justify-content: space-around; 
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.btn{
    color: rgb(0, 106, 80);
    background-color: white;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid blue;
    border-radius: 5px;
    border: 1px solid rgb(0, 106, 80);
    margin: 20px;   
}
/* banner style */
.banner-container{
    width: 1600px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D4;
    margin: auto;
    background-image: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-position: right center;
    align-items: center;
    border:none;
    border-radius: 15px;
}
.banner-sub-title{
    padding-left: 25px;
    color: #695e5e;
    font-size: 24px;
    font-weight: 500;
}
.banner-title{
    padding-left: 25px;
    color:#0E0E0E;
    font-size: 56px;
    font-weight: bold;
}
.bangladesh-btn{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
}
/* bangladesh style */
.bangladesh-20{
    margin: auto;
    width: 1600px;
    height: 500px;
    padding-top: 50px;
}

.bd-20-title{
    font-weight: bold;
    font-size: 40px;
}
.bangladesh-20-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.bd-description{
    font-weight: 300;
    font-size: 24px;
}
.bd-title{
    font-weight: bold;
    font-size: 20px;
}
.box1{
    border: 1px solid rgb(228, 223, 223);
    background-color: azure;
    border-radius: 15px;
    padding-left: 15px;
    
}
.box2{
    border: 1px solid rgb(228, 223, 223);
    background-color: azure;
    border-radius: 15px;
    padding-left: 15px;
}
.box3{
    border: 1px solid rgb(228, 223, 223);
    background-color: azure;
    border-radius: 15px;
    padding-left: 15px;
}
.box4{
    border: 1px solid rgb(228, 223, 223);
    background-color: azure;
    border-radius: 15px;
    padding-left: 15px;

}
/* vision style */
.vision{

    margin: auto;
    width: 1600px;
    height: 500px;

}
.title{
    font-weight: bold;
    font-size: 40px;
}
.v-description{
    font-weight: 300;
    font-size: 16px;
   
}

.vision-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    
}

.vision-1{
    border: 1px solid white;
    border-radius: 15px;
    background-color: #5490F5;
}


.vision-2{
    border: 1px solid white;
    border-radius: 15px;
    background-color: #C6E4D6;

}

.vision-3{
    border: 1px solid white;
    border-radius: 15px;
    background-color: #F7EBCF;

}
.vision-title{
    padding-left: 10px;
}
.vision-description{
    padding-left: 10px;

}
.learn-btn{
    background-color: #5490F5;
    color: white;
    margin-left: 10px;
    margin-bottom: 15px;
}
/*  advisor younus style */
.advisor{
    margin: auto;
    width: 1600px;
    height: 500px;
    background-color: gray;
    text-align: left;
    padding-left: 30px;
    border-radius: 15px;

    
}

.advisor-description{
    font-weight: 300;
    font-size: 16px;
}
.advisor-title{
    font-weight: 700;
    font-size: 20px;
}
.advisor-subtitle{
    font-weight: 300;
    font-size: 16px;
}


/* news style */
.img-1{
    padding-left: 30px;
    border: 1px solid;
    border-radius: 12px;
}
.img-2{
    padding-right: 30px;
    border: 1px solid;
    border-radius: 12px;
}
.news-content-2{
    padding-left: 20px;
}
.news{

    margin: auto;
    width: 1600px;
    height: 500px;
   
}
.news-title{
    font-weight: bold;
    font-size: 40px;
}
.news-descrtion{
    font-weight: 300;
    font-size: 16px;
}
.news-2-title{
    font-size: 32px;
    font-weight: bold;
}
.news-2-sub-title news-2-description{
    font-weight: 300;
    font-size: 20px;
}
.read-btn{
    color: #FFFFFF;
    background-color: #006A50;
    padding: 15px;
    border-radius: 7px;
}

.news-1{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
    background-color: (255, 255, 255);
    border: 1px solid;
    border-radius: 25px;

}
.news-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 25px;

}
/* donate style */
.donate{

    
    width: 1600px;
    height: 500px;

}
.donate-container{
   
}

.donate{
    margin: auto;

}
.donate-title{
    text-align: center;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;

}
.donate-description{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #0E0E0E;
}
.donate-buttons{

    display:flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    padding: 25px;
   gap: 10px;

}
.donate-button{

    border: 1px solid blueviolet;
    padding: 30px;
    border-radius: 10px;

}
#donate-button-c{
    background-color: #C6E4D6;
    padding: 30px;
    border-radius: 10px;
    
}

.amount{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 10px 0;
   

    
}
.other{
    padding: 30px;
    border: 1px solid blueviolet;
    background-color: white;

}
.newsletter{
    margin: auto;
    text-align: center;
    background-color: #C6E4D6;
}
#text{

 border: 1px solid blueviolet;
 width: 70%;
 border-radius: 1opx;


}
.subs-btn{
    background-color: #006A50;
}
input[type="text"] {

    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #FFFFFF;
}



